In [1]:
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import pprint


%matplotlib inline

In [2]:
load_dotenv('../.env')

True

In [1]:
from pycoingecko import CoinGeckoAPI
import pandas as pd
cg = CoinGeckoAPI()

In [2]:
coin_market = cg.get_coins_markets(vs_currency='usd')
coin_market_df= pd.DataFrame(coin_market, columns=['id', 'current_price', 'high_24h' , 'low_24h'])
coin_market_df.set_index('id', inplace=True)
coin_market_df

                 current_price      high_24h       low_24h
id
bitcoin           42775.000000  44302.000000  42083.000000
ethereum           2968.470000   3149.950000   2917.110000
cardano               2.170000      2.260000      2.130000
tether                1.000000      1.010000      0.988732
binancecoin         341.110000    356.340000    334.510000
...                        ...           ...           ...
serum                 7.550000      8.260000      7.400000
flow                 15.640000     16.260000     15.470000
zilliqa               0.080211      0.085507      0.079432
qtum                  9.390000      9.890000      9.230000
curve-dao-token       2.410000      2.730000      2.360000

[100 rows x 3 columns]

In [6]:
usd_coins = cg.get_coin_ticker_by_id(id='bitcoin')
usd_coins_df = pd.DataFrame(usd_coins['tickers'], columns=['base', 'target'])
usd_coins_df.set_index('base', inplace=True)
usd_coins_df

     target
base
BTC     USD
BTC    USDT
BTC     USD
BTC     EUR
BTC     JPY
...     ...
BTC    USDT
EOS     BTC
BTC    USDT
BTC    USDT
BTC    USDT

[100 rows x 1 columns]

In [8]:
btc_history = cg.get_coin_market_chart_by_id(id= 'bitcoin', vs_currency = 'usd', days = 'max')
btc_history_df = pd.DataFrame(btc_history)
btc_history_df

,prices,market_caps,total_volumes
0,"[1367107200000, 135.3]","[1367107200000, 1500517590]","[1367107200000, 0]"
1,"[1367193600000, 141.96]","[1367193600000, 1575032004.0]","[1367193600000, 0.0]"
2,"[1367280000000, 135.3]","[1367280000000, 1501657493.0]","[1367280000000, 0.0]"
3,"[1367366400000, 117.0]","[1367366400000, 1298951550.0]","[1367366400000, 0.0]"
4,"[1367452800000, 103.43]","[1367452800000, 1148667722.0]","[1367452800000, 0.0]"
...,...,...,...
3068,"[1632355200000, 43587.22305058473]","[1632355200000, 820460824050.9529]","[1632355200000, 36624234960.05299]"
3069,"[1632441600000, 44980.898214810935]","[1632441600000, 846615719473.8734]","[1632441600000, 33594750549.99859]"
3070,"[1632528000000, 42752.1681545072]","[1632528000000, 809772498812.6799]","[1632528000000, 42973070342.650276]"
3071,"[1632614400000, 42856.855164224515]","[1632614400000, 808279417023.3408]","[1632614400000, 30898116660.05655]"
3072,"[1632777587000, 42903.4634839858]","[1632777587000, 806546851976.6064]","[1632777587000, 30405176283.84211]"

In [6]:
#Stock Data
default_api = os.getenv('DEFAUlT ')

In [27]:
aapl_url = 'https://api.polygon.io/v1/open-close/AAPL/2021-09-21?adjusted=true&apiKey=0X4tHNCXpZdzIR3dzzm3KfwqMf10IpZU'

response= session.get(aapl_url).json()
print(json.dumps(response, indent=4, sort_keys=True))

{
    "afterHours": 143.09,
    "close": 143.43,
    "from": "2021-09-21",
    "high": 144.6,
    "low": 142.78,
    "open": 143.93,
    "preMarket": 144.72,
    "status": "OK",
    "symbol": "AAPL",
    "volume": 75833962
}

In [28]:
aapl_df = pd.DataFrame(response, index=['AAPL'] )
aapl_df.drop(columns='status', inplace=True)
aapl_df

,from,symbol,open,high,low,close,volume,afterHours,preMarket
AAPL,2021-09-21,AAPL,143.93,144.6,142.78,143.43,75833962,143.09,144.72

In [36]:
googl_url = 'https://api.polygon.io/v1/open-close/GOOGL/2021-09-21?adjusted=true&apiKey=0X4tHNCXpZdzIR3dzzm3KfwqMf10IpZU'

response= session.get(googl_url).json()
print(json.dumps(response, indent=4, sort_keys=True))
googl_df = pd.DataFrame(response, index=['GOOGL'] )
googl_df.drop(columns='status', inplace=True)
googl_df

{
    "afterHours": 2774.08,
    "close": 2780.66,
    "from": "2021-09-21",
    "high": 2800.23,
    "low": 2765.56,
    "open": 2794.99,
    "preMarket": 2799.79,
    "status": "OK",
    "symbol": "GOOGL",
    "volume": 1266595
}

,from,symbol,open,high,low,close,volume,afterHours,preMarket
GOOGL,2021-09-21,GOOGL,2794.99,2800.23,2765.56,2780.66,1266595,2774.08,2799.79

In [40]:
amzn_url = 'https://api.polygon.io/v1/open-close/AMZN/2021-09-21?adjusted=true&apiKey=0X4tHNCXpZdzIR3dzzm3KfwqMf10IpZU'

response= session.get(amzn_url).json()
print(json.dumps(response, indent=4, sort_keys=True))
amzn_df = pd.DataFrame(response, index=['AMZN'] )
amzn_df.drop(columns='status', inplace=True)
amzn_df

{
    "afterHours": 3339.44,
    "close": 3343.63,
    "from": "2021-09-21",
    "high": 3379.7,
    "low": 3332.39,
    "open": 3375,
    "preMarket": 3377.98,
    "status": "OK",
    "symbol": "AMZN",
    "volume": 2780878
}

,from,symbol,open,high,low,close,volume,afterHours,preMarket
AMZN,2021-09-21,AMZN,3375,3379.7,3332.39,3343.63,2780878,3339.44,3377.98

In [41]:
tsla_url = 'https://api.polygon.io/v1/open-close/TSLA/2021-09-21?adjusted=true&apiKey=0X4tHNCXpZdzIR3dzzm3KfwqMf10IpZU'

response= session.get(tsla_url).json()
print(json.dumps(response, indent=4, sort_keys=True))
tsla_df = pd.DataFrame(response, index=['TSLA'] )
tsla_df.drop(columns='status', inplace=True)
tsla_df

{
    "afterHours": 737,
    "close": 739.38,
    "from": "2021-09-21",
    "high": 744.7399,
    "low": 730.44,
    "open": 734.79,
    "preMarket": 742,
    "status": "OK",
    "symbol": "TSLA",
    "volume": 16119923
}

,from,symbol,open,high,low,close,volume,afterHours,preMarket
TSLA,2021-09-21,TSLA,734.79,744.7399,730.44,739.38,16119923,737,742

In [49]:
tlt_url = 'https://api.polygon.io/v1/open-close/TLT/2021-09-21?adjusted=true&apiKey=0X4tHNCXpZdzIR3dzzm3KfwqMf10IpZU'

response= session.get(tlt_url).json()
print(json.dumps(response, indent=4, sort_keys=True))
tlt_df = pd.DataFrame(response, index=['TLT'] )
tlt_df.drop(columns='status', inplace=True)
tlt_df

{
    "afterHours": 150.75,
    "close": 150.89,
    "from": "2021-09-21",
    "high": 150.96,
    "low": 150.2,
    "open": 150.71,
    "preMarket": 151,
    "status": "OK",
    "symbol": "TLT",
    "volume": 10035770
}

,from,symbol,open,high,low,close,volume,afterHours,preMarket
TLT,2021-09-21,TLT,150.71,150.96,150.2,150.89,10035770,150.75,151

In [53]:
merged_df= pd.concat([aapl_df, googl_df, amzn_df, tsla_df, tlt_df])
merged_df.rename(columns={'from': 'date'}, inplace=True)
merged_df.set_index('date', inplace=True)
merged_df

,symbol,open,high,low,close,volume,afterHours,preMarket
date,,,,,,,,
2021-09-21,AAPL,143.93,144.6000,142.78,143.43,75833962,143.09,144.72
2021-09-21,GOOGL,2794.99,2800.2300,2765.56,2780.66,1266595,2774.08,2799.79
2021-09-21,AMZN,3375.00,3379.7000,3332.39,3343.63,2780878,3339.44,3377.98
2021-09-21,TSLA,734.79,744.7399,730.44,739.38,16119923,737.00,742.00
2021-09-21,TLT,150.71,150.9600,150.20,150.89,10035770,150.75,151.00

In [51]:
highest_close =  merged_df['high'].max()
print(f'This highest price of the listed stocks of today was ${highest_close: ,.2f}')

This highest price of the listed stocks of today was $ 3,379.70